{% extends "base.html" %}

{% set titulo="Cadastro" %}
{% set css_cadastro = "active" %}

{% block conteudo %}

<form action="/post_cadastro" method="post">
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="nome" id="nome" placeholder=" ">
        <label class="form-label" for="nome">Nome Completo</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="date" name="data_nascimento" id="data_nascimento" placeholder=" ">
        <label class="form-label" for="data_nascimento">Data de Nascimento</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="text" name="telefone" id="telefone" placeholder=" ">
        <label class="form-label" for="telefone">telefone</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="email" name="email" id="email" placeholder=" ">
        <label class="form-label" for="email">E-mail</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="password" name="senha" id="senha" placeholder=" ">
        <label class="form-label" for="senha">Senha</label>
    </div>
    <div class="mb-3 form-floating">
        <input class="form-control" type="password" name="confirmacao_senha" id="confirmacao_senha" placeholder=" ">
        <label class="form-label" for="confirmacao_senha">Confirmação da Senha</label>
    </div>
    <div class="mb-3">
        <button class="btn btn-dark btn-lg" type="submit">Cadastrar</button>
    </div>
</form>
{% endblock %}
